
@{
    ViewBag.Title = "About";
}

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">My Journey.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2001-2005</h4>
                                <h4 class="subheading">Undergraduate</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">High Point University: BS Business Administration</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>September 2010</h4>
                                <h4 class="subheading">Thomasville Veterinary Hospital</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Senior IT Administrator - Responsible for the network design and maintenance of network resources.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>January 2015</h4>
                                <h4 class="subheading">Coder Foundry</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Evening Master Coding Program</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>Of My
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

