
@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/img/logo_JavaScript.png" alt="...">
                <div class="caption">
                    <h3>JavaScript Project</h3>
                    <p><a href="/Javascript" class="btn btn-primary" role="button">Enter</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/whyblog2.jpg" alt="...">
                <div class="caption">
                    <h3>Blog</h3>
                    <p><a href="/Posts/" class="btn btn-primary" role="button">Enter</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/img/team/Hogna_lenta_18.jpg" alt="...">
                <div class="caption">
                    <h3>Bug Tracker Software</h3>
                    <p><a href="http://millirenb-bugtracker.azurewebsites.net/" class="btn btn-primary" role="button">Enter</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/img/team/Screen-shot-2014-08-01-at-9.55.46-AM.png" alt="...">
                <div class="caption">
                    <h3>Car Finder</h3>
                    <p><a href="http://millirenb-carfinder.azurewebsites.net/" class="btn btn-primary" role="button">Enter</a></p>
                </div>
            </div>
        </div>
    </div>
</div>